# #############################################################################
# .eslintignore config.
# #############################################################################
#
# @description Specifies which files and directories should be ignored by ESLint,
#              helping to exclude specific files from linting.
# @see https://eslint.org/docs/user-guide/configuring/ignoring-code
#
# #############################################################################

# builds or dev folders

node_modules/*
**/node_modules/*

vendor/*
**/vendor/*

static/*
**/static/*

public/*
**/public/*

build/*
**/build/*

dist
**/dist/*

.svelte-kit/*
**/.svelte-kit/*

# ENV
.env
.env.*
!.env.example

# TYPESCRIPT
**/*.d.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# OTHERS
**/*.timestamp-*
**/__temp__
/__cache__
**/__cache__
.DS_Store
**/.DS_Store
