@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
    margin:0;
    font-family: helvetica;
}

svg:focus {
    outline: none;
}

html::view-transition-old(main) {
  animation-name: -ua-view-transition-fade-out;
  animation-duration: inherit;
  animation-fill-mode: inherit;
}

html::view-transition-new(main) {
  animation-name: -ua-view-transition-fade-in;
  animation-duration: inherit;
  animation-fill-mode: inherit;
}
::view-transition-old(main),
::view-transition-new(main) {
  animation-duration: 1s;
}

@keyframes changeHue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}
.change-hue {
    animation: changeHue 5s linear infinite;
}
.hover-change-hue:hover {
    animation: changeHue 5s linear infinite;
}
